$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-800: 800;
$border-radius: 2rem;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", "Kumbh Sans", sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $pale-blue;
}

.card {
  background: linear-gradient(to bottom, $light-slate-blue, $light-royal-blue);
  border-radius: $border-radius;
  &__container {
    max-width: 600px;
    width: 50%;
    height: 50%;
    display: flex;
    background-color: $white;
    border-radius: $border-radius;
  }
}
